<h1>Booking status</h1>
Today:
<br>
	Morning : {{ today_morning_booked }}
	Evening : {{ today_evening_booked }}
	Night : {{ today_night_booked }}

	<br><br>

Tomorrow:
<br>
	Morning : {{ tomorrow_morning_booked }}
	Evening : {{ tomorrow_evening_booked }}
	Night : {{ tomorrow_night_booked }}	

	<br><br>

Day after tomorrow:
<br>
	Morning : {{ day_after_tomorrow_morning_booked }}
	Evening : {{ day_after_tomorrow_evening_booked }}
	Night : {{ day_after_tomorrow_night_booked }}

